<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <table>
    <tr>
      <td>名稱</td>
      <td>內容</td>
      <td>老師</td>
    </tr>

  <h1>Sign Up Show</h1>
    <tr>
      <td><%=@course.name%></td>
      <td><%=@course.content%></td>
    </tr>
  


  </table>
</body>
</html>